// @charset "utf-8";

// // Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');
@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');

// // Set your brand colors - initial variables

// // Update Bulma's derived variables
$family-sans-serif: "Nunito", sans-serif;

// // Update some of Bulma's component variables
$box-radius: 0;
$grey-dark: hsl(0, 0%, 29%);
$link: $grey-dark;
@import 'bulma/bulma.sass';